@{
    ViewBag.Title = "Home Page";
}

<style>
    .centerAligh{
        text-align:center;
    }
</style>
<div class="jumbotron">
    <h1>Welcome to banking application</h1>
    <br />
    <div class="centerAligh" >
        <div class="row">
            <p>
                View all Accounts <a href="~/Accounts/Index">here</a>
            </p>
        </div>
        <div class="row">
            <p>
                Initiate all transfer <a href="~/FundTransfer/FundTransfer">here</a>
            </p>
        </div>
        <div class="row">
            <p>
                View all Transactions <a href="~/Transactions/Index">here</a>
            </p>
        </div>

    </div>
        
</div>

